@font-face {
	font-family: 'Ubuntu-Title-fr';
    src: url('../fonts/original_ubuntu-title-fr-1.1.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/original_ubuntu-title-fr-1.1.woff') format('woff'),
         url('../fonts/original_ubuntu-title-fr-1.1.ttf') format('truetype'),
         url('../fonts/original_ubuntu-title-fr-1.1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.navbar-nav > li > .dropdown-menu { background-color: #B5261E; }


nav.navbar ul.nav li {
    font-family: Verdana: ;, "PricedownBl-Regular", Helvetica, Arial, sans-serif;
}

nav.navbar ul.nav li a{
  color: white;
}

nav.navbar ul.nav li a:hover{
  color: black;
}

#amarillo{
	color: white;
	font-size: 30px;
}
 
/* cambiar el color de fondo a la barra */
nav.navbar {
    background-color: #B5261E;
}

body{
background-image: url("../images/fondo2.jpg");
background-position: center center;
background-repeat: no-repeat, repeat;
background-attachment: fixed;
background-size: cover;
background-color: #cccccc;
}

#lol {
  background-color:black;
  color: #fff;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

#input
{
    background: url("../images/separador.png") no-repeat scroll 0 0;
    border: 1px solid #BFBFBF;
    color: blue;
    font-family: verdana;
    font-size: 12px;
    letter-spacing: 8px;
    /*padding: 5px 5px 5px 25px;*/
}

#input.submit
{
    width: auto;
    background-position: 4px -91px;
    background-color: #999999;
    color: #FFFFFF;
    cursor: pointer;
}

input.user{ background-position: 4px -21px; }
input.search{ background-position: 4px 4px; }
input.password{ background-position: 4px -46px; }
input.favorite{ background-position: 4px -70px; }

/*
    Original version: http://www.bootply.com/128062
    
    This version adds support for IE 10+ and Firefox.
*/

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.payaso{
 
background-position: right center;
 
background-image: url(../images/loader.gif);

background-size: 12% 100%;

background-repeat: no-repeat;

}

.alterado{
background-position: right center;
 
background-image: url(../images/cancelar.png);

background-size: 13% 60%;

background-repeat: no-repeat;
}

.titulos{
color:#f0e969;
}

.titulos:hover {
color:#0e0b3f;
}

.table-hover tbody tr:hover {
  background-color: #c4e3f3 !important;
}